<!-- <div class="time">
    <lib-display-task></lib-display-task>
    <lib-add-task></lib-add-task>
</div> -->
<div class="container p-0">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 ">
                <lib-display-task></lib-display-task>

            </div>
        </div>

    </div>
</div>
<div class="container ps-4">
    <div class="row gx-5">
        <div class="col">
            <div class="ps-4 ">
                <lib-add-task></lib-add-task>
            </div>
        </div>

    </div>
</div>