<div class="header">
  <div class="container px-4 text-light">
    <div class="row gx-5">
      <div class="col">
        <div class="p-3">
          <h1 routerLink="/" class="mb-0">Todo App</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container px-4">
  <div class="row gx-5">
    <div class="col">
      <div class="container px-4">
        <div class="row gx-5">
          <div class="col px-3 pt-3"><lib-date></lib-date></div>
          <div class="col-2"></div>
        </div>
      </div>

      <div class="p-1">
        <div class="container-flex">
          <hr class="my-4 container" />
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
<lib-photos></lib-photos>
